.footer {
  height: 60px;
  width: 100vw;
  background-color: #ff90b1;
  /* padding: 0 20px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.year {
  color: #242424;
  font-weight: 500;
  font-size: 1.1em;
}

.rs {
  height: 50px;
}

.githubLogo {
  height: 50px;
}
